<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-5 animated bounceInUp">
        <fieldset class="login">
          <form ng-submit="crearUsuario();">
            <h3>Formulario de registro</h3>
            <br>
            <label>Datos personales</label>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
              <input required ng-model="usuarioNuevo.name" type="text" class="form-control" placeholder="Usuario" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
              <input required ng-model="usuarioNuevo.password" type="password" class="form-control" placeholder="Contraseña" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-envelope" aria-hidden="true"></i></span>
              <input required  ng-model="usuarioNuevo.identificationNumber" type="number" class="form-control" placeholder="identificacion" aria-describedby="sizing-addon1">
            </div>
            <br>
            <select required  ng-model="usuarioNuevo.identificationType" class="form-control">
              <option value="">Tipo documento</option>
              <option value="CC">Cédula de Ciudadania</option>
              <option value="CE">Cédula extrajeria</option>
            </select>
            <br>
          <!--   <select required  ng-model="direccion.departamento" class="form-control">
              <option value="">Departamento</option>
              <option value="Bogotá DC" selected>Bogotá DC</option>
              <option value="2">Otro</option>
            </select>
            <br>
            <select required  ng-model="direccion.ciudad" class="form-control">
              <option value="">Ciudad</option>
              <option value="Bogota" selected>Bogota</option>
              <option value="2">Otro</option>
            </select>
            <br>
           <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-street-view" aria-hidden="true"></i></span>
              <input required  ng-model="direccion.direccion" type="text" class="form-control" placeholder="Direccion" aria-describedby="sizing-addon1">
            </div> -->
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
              <input required  ng-model="usuarioNuevo.firstName" type="text" class="form-control" placeholder="Nombre" aria-describedby="sizing-addon1">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
              <input required  ng-model="usuarioNuevo.lastName" type="text" class="form-control" placeholder="Apelido" aria-describedby="sizing-addon1">
            </div>
            <br>
            <label>¿Qué tipo de usuario eres?</label>
            <select required  ng-model="usuarioNuevo.tipo" class="form-control">
              <option value="">Selecciona</option>
              <option value="2" selected>Cliente</option>
              <option value="3">Artista</option>
            </select>

            <div class="input-group col-md-12">
              <br>
              <label ng-if="mensajeCreacion" ng-class="mostrarMensajeCreacion">¡Tu usuario se creó con exito! <br> <a href="#!/login">Iniciar Sesión</a> </label>
              <input type="submit" name="" value="Crear usuario" class="btn btn-primary btn-block">
            </div>
          </form>
        </fieldset>
      </div>
      <div class="col-md-6 animated bounceInRight" style="margin-left:2%;">
        <h3>Accede a nuestras mejores estampas</h3>
        <br>
        <img src="http://www.visteadecuadamente.com/imagenes/2009/06/collage2_ligthdesign.jpg" class="img-responsive img-login">
      </div>
    </div>
  </div>
</div>
